@model onlinetaxmanagement.Models.GSTNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GSTNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GSTNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Gnid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
