@model IEnumerable<onlinetaxmanagement.Models.TaxInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registration.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tid })
        </td>
    </tr>
}

</table>
